/* Q1 */
#box {
    background-color: blue;
    color: white;
    padding: 10px;
}

/* Q2 */
.heading {
    color: red;
}

/* Q3 */
.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/* Q4 */
.para {
    color: red;
}

#para {
    color: green;
}

/* Q5 */
* {
    color: blue;
}
