/* Q1 */
h1 {
    text-align: center;
    text-transform: uppercase;
}

/* Q2 */
body {
    font-family: monospace;
}

/* Q3 */
#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}

/* Q4 */
a {
    text-decoration: none;
}

/* Q5 */
.one {
    line-height: 1;
}

.two {
    line-height: 1.5;
}

.three {
    line-height: 2;
}
